.dao-layout {
  //justify-content: center;

  .dao-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .label {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      font-size: 22px;
      color: #6EA5F9;
    }

    .image {
      width: 300px;
      height: 486px;
      margin: 0 auto;
    }

    .text-detail {
      padding-top: 10px;
      padding-left: 15px;
      font-size: 22px;
      color: #6EA5F9;
      text-align: center;
    }

    .text-title {
      padding-top: 30px;
      padding-left: 15px;
      font-size: 22px;
      color: #000;
    }
  }

  .dao-item-2 {
    padding: 10px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .label {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      font-size: 22px;
      color: #6EA5F9;
    }

    .image {
      width: 300px;
      height: 486px;
      margin: 0 auto;
    }

    .text-detail {
      padding-top: 10px;
      padding-left: 15px;
      font-size: 22px;
      color: #6EA5F9;
      text-align: center;
    }

    .text-title {
      padding-top: 30px;
      padding-left: 15px;
      font-size: 22px;
      color: #000;
    }
  }

  .empty-data {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 22px;
    line-height: 27px;
    color: #6EA5F9;
  }
}
