.nft-mint-layout {
    //justify-content: center;
  
    .nft-mint {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
  
    }
  
    .nft-mint-button {
      border-radius: 20px;
      margin: 30px auto 30px auto;
      display: flex;
      width: 134px;
      height: 35px;
      background-color: #4D9DE8;
      color: #fff;
    }
  }
  